@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 200 20% 98%;
        --foreground: 200 50% 3%;

        --dark-grey: #b5bcb9;
        --light-grey: #f8f7f8;
        /* --light-grey: rgba(232, 228, 230, 255); */
        --dark-green: rgba(61, 70, 47, 255);
        --grey-black: rgba(41, 42, 41, 255);

        --blue: #007bff;
        --dark-blue: #005fda;

        --checkbox-green: #32cd32;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: 200 50% 3%;
            --foreground: 200 20% 96%;

            --btn-background: var(--blue);
            --btn-background-hover: var(--dark-blue);

            --color-theme: var(white): ;
        }
    }
}

.animate-in {
    animation: animateIn 0.3s ease 0.15s both;
}

* {
    font-family: 'Inter', sans-serif;
}

@keyframes animateIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.font-myriad {
    font-family: 'Myriad Pro';
}
